:root {
    --blue: #0f6efd;
    --black: #1d2226;
    --white: #fff;
}
  
body{
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    line-height: 1.35;
    letter-spacing: 0.2px;
    background: #f3f4f7;
}
body .btn{
    background: var(--blue);
    color: var(--white);
    outline: none;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
}
body .btn:focus{
    outline: none;   
    box-shadow: none;
}
#header .navbar{
    background: var(--blue);
    padding: 8px 20px;
    height: 54px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}
#header .navbar-brand{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}
#header .navbar-toggler{
    background: var(--white);
    padding: 0;
    border: 0;
    outline: none;
    border-radius: 0;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .navbar-toggler span{
    width: calc(100% - 14px);
    height: 2px;
    background: var(--black);
    margin: 0.15rem auto;
}
#header .navbar-collapse{
    display: block;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--black);
    z-index: 99;
    padding: 54px 0 20px;
    width: 270px;
    bottom: 0;
    height: 100vh;
    transform: translateX(-280px);
    transition: all 0.3s ease-in-out;
}
#header .navbar-collapse.show{
    transform: translateX(0);
}
#header .navbar-collapse .navbar-brand{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 54px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background: #000;
}
#header .navbar-nav{
    width: 100%;
    flex-direction: column;
}
#header .navbar-nav li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 20px;
    border-radius: 0;
    border-bottom: solid 1px #393d40;
}
#header .navbar-nav .signout-action{
    position: absolute;
    left: 0;
    bottom: 55px;
    right: 0;
    padding: 20px;
}
#header .navbar-nav .signout-action .btn{
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
}
#header .navbar-overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #000;
    opacity: 0.5;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
#header .navbar-overlay.collapsed{
    opacity: 0;
    visibility: hidden;
}

#middle{
    padding: 70px 0 0;
}
#middle .container{
    padding-left: 20px;
    padding-right: 20px;
}
#middle .page-head h3{
    font-size: 17px;
    margin: 0 0 8px;
    font-weight: 600;
    color: var(--black);
}
#middle .search-bar{
    position: relative;
}
#middle .search-bar input{
    background: var(--white);
    border: 0;
    border-radius: 5px;
    outline: none;
    height: 44px;
    padding: 0 15px;
    color: var(--white);
    letter-spacing: 0;
    font-size: 14px;
    box-shadow: none;
    width: 100%;
}
#middle .search-bar .btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    border-radius: 0 5px 5px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#middle .search-bar .btn i{
    font-size: 18px;
}
#middle .search-bar .btn-reset{
    right: 0;
    border-radius: 5px;
    background: none;
    color: #7f8284;
    padding: 0;
    width: auto;
    height: auto;
    top: -30px;
    font-size: 15px;
}
#middle .search-bar .btn-reset i{
    margin-right: 3px;
    position: relative;
    top: 1px;
}
#middle .vehicle-list{
    padding-top: 5px;
}
#middle .vehicle-list .card{
    margin: 0 -20px 15px;
    border: 0;
    background: #fff;
    padding: 17px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    position: relative;
}
#middle .vehicle-list .card h4{
    font-size: 17px;
    margin: 0 0 3px;
    font-weight: 500;
    color: var(--blue);
    padding-right: 25px;
}
#middle .vehicle-list .card .btn-trash{
    border-radius: 0;
    background: none;
    color: #f00;
    padding: 0;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 17px;
}
#middle .vehicle-list .card .btn-trash i{
    font-size: 16px;
}
#middle .vehicle-list .card p{
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 1.4;
    margin-bottom: 1px;
}
#middle .vehicle-list .card p > i{
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    position: relative;
    top: 2px;
    left: -1px;
    margin-right: 3px;
}
#middle .vehicle-list .card .link-overlay{
    position: absolute;
    inset: 0;
}
#middle .vehicle-list .vehicle-info{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 -10px;
}
#middle .vehicle-list .vehicle-info > p{
    flex: 0 0 50%;
    max-width: 50%;
    color: #a1a1a1;
    margin: 0;
    padding-bottom: 7px;
    font-size: 13px;
}
#middle .vehicle-list .vehicle-info > p strong{
    color: var(--black);
    font-weight: 500;
}
#middle .head-action{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}
#middle .head-action .btn{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    font-size: 36px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}